@import "../../../styles.scss";

.offer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  app-offer-item {
    margin-bottom: $big-margin;
  }

  @media screen and (min-width: 961px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
