<div class="card card-wrapper card-contact-wrapper">
  <div class="contact-wrapper">
    <div class="contact-wrapper__info p-component">
      <h2>{{ contactData.name }}</h2>
      <h3>{{ contactData.owner }}</h3>
      <p class="ml-4">
        <i class="pi pi-fw pi-map"></i>{{ contactData.adress }}
      </p>
      <p class="ml-4">
        <i class="pi pi-fw pi-phone"></i>{{ contactData.phone }}
      </p>
      <a class="ml-4" href="mailto: mario.service@interia.pl"
        ><i class="pi pi-fw pi-at"></i>{{ contactData.mail }}</a
      >
    </div>
    <div class="contact-wrapper__map mt-6"></div>
  </div>
</div>
