@import "../../../styles.scss";

.card-contact-wrapper {
  background-image: url("^assets/images/contact-page/blockchain-2850276_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  border-radius: 0;

  @media screen and (min-width: 961px) {
    background-image: url("^assets/images/contact-page/blockchain-2850276_1920.jpg");
  }
}

.contact-wrapper__map {
  background-image: url("^assets/images/contact-page/map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 300px;
  margin: auto;
  border-radius: $big-radius;

  @media screen and (min-width: 961px) {
    width: 50%;
  }
}

.contact-wrapper__info {
  width: 320px;
  height: 260px;
  border: 1px solid $middle-gray;
  border-radius: $big-radius;
  padding: $standard-padding;
  font-size: $small-fz;
  background-color: $middle-gray;
  color: $fontLightColor;
  box-shadow: 5px 5px 10px $deep-gray;
  margin: auto;

  @media screen and (min-width: 961px) {
    font-size: $middle-fz;
    width: 450px;
    height: 320px;
    margin: unset;
  }
}
