@import "../../../styles.scss";

:host ::ng-deep {
  .p-galleria-item {
    img {
      width: 100%;
      height: 450px;
    }
  }
  .p-galleria-thumbnail-wrapper {
    height: 150px;
    .p-galleria-thumbnail-item-content {
      img {
        height: 100px;
      }
    }
  }
}

.realizations-item {
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 2rem;

  h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    color: #495057;
  }

  .card {
    width: 100%;
  }

  @media screen and (min-width: 1240px) {
    width: 900px;
  }
}
