.wrapper-realizations {
  width: 90%;
  margin: 2rem auto;
}

.realizations {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 2rem;

    h3 {
      flex-basis: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      color: #495057;
    }
  }
}

:host ::ng-deep {
  .p-galleria-item {
    img {
      width: 100%;
      height: 250px;
    }
  }
  .p-galleria-thumbnail-wrapper {
    height: 150px;
    .p-galleria-thumbnail-item-content {
      img {
        height: 100px;
      }
    }
  }
}

@media screen and (min-width: 961px) {
  .realizations {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
      width: 48%;

      .card {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 961px) {
  .realizations {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
      width: 48%;

      .card {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .realizations {
    &__item {
      width: 35%;
    }
  }
}
