<div class="wrapper-realizations realizations card-wrapper">
  <div class="realizations__item">
    <app-work-item
      *ngFor="let item of galleryItems"
      [itemName]="item.itemName"
      [itemDescription]="item.itemDescription"
      [images]="item.images"
    >
    </app-work-item>
  </div>
  <div class="opinions-wrapper p-component">
    <h3>Opinie Klientów:</h3>
    <div
      *ngFor="let opinion of opinionsData"
      class="opinions-wrapper__item mb-5"
    >
      <p>" {{ opinion.desc }} "</p>
      <span class="sign">{{ opinion.sign }}</span>
      <span class="separator"></span>
    </div>
  </div>
</div>
