.wrapper-realizations {
  width: 90%;
  margin: 2rem auto;
}
.realizations {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 961px) {
  .realizations {
    width: 80%;
  }
}

@media screen and (min-width: 1240px) {
  .realizations {
    width: 60%;
  }
}
