//fonts
$fontLightColor: #fefefe;
$small-fz: 1rem;
$middle-fz: 1.2rem;
$big-fz: 1.4rem;

//@media
$desktopSize: 961px;

//colors
$deep-gray: #495057;
$middle-gray: #6c757d;
$light-gray: #dee2e6;
$background: #f8f9fa;

//margin & padding
$standard-padding: 1rem;
$big-margin: 2rem;
$standard-margin: 1.5rem;
$small-margin: 1rem;

//others
$big-radius: 0.5rem;
