<div class="card card-wrapper mt-4">
  <p-tabView>
    <p-tabPanel header="Działalność">
      <div class="card-wrapper__inside section-one">
        <p>
          Już od długiego czasu nasza działalność koncentruje się na wznoszeniu
          dachów oraz konstrukcji z drewna. Naszą firmę cechuje profesjonalna
          wiedza i wymagane doświadczenie, umożliwiające realizację nawet
          najbardziej złożonych zadań stolarskich. Konstrukcja dachu musi
          sprostać ściśle określonym kryteriom wytrzymałości i odporności na
          warunki pogodowe, takie jak deszcz czy silny wiatr. Właśnie dlatego
          jego wykonanie powinno zostać zlecone sprawdzonej i godnej zaufania
          firmie, która ma na swoim koncie liczne, pomyślnie zakończone
          projekty.
        </p>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Specjalizacja">
      <div class="card-wrapper__inside section-two">
        <p>
          Specjalizujemy się w tworzeniu dachów od fundamentów w nowo
          wybudowanych domach. Wszystkie prace ciesielskie wykonujemy zgodnie z
          projektami architektonicznymi dostarczonymi przez właścicieli
          nieruchomości. Na początku konstruujemy szkielet dachu, czyli tak
          zwaną więźbę dachową, a następnie przystępujemy do deskowania, jeśli
          jest to konieczne. Oferujemy również usługi związane z izolacją
          cieplną dachu i jego zewnętrzną ochroną za pomocą specjalistycznych
          folii i papów.
        </p>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Materiały">
      <div class="card-wrapper__inside section-three">
        <p>
          W czasie realizacji dachów korzystamy tylko z najlepszych materiałów i
          narzędzi dostarczanych przez uznanych producentów. Nasi pracownicy,
          dzięki swojemu bogatemu doświadczeniu, są w stanie sprostać nawet
          najbardziej skomplikowanym zadaniom. Zapewniamy wsparcie i doradztwo
          na każdym etapie współpracy, co, w połączeniu z naszą wiedzą i
          umiejętnościami, zapewnia profesjonalnie wykonaną pracę zgodnie z
          oczekiwaniami klienta i w ustalonym terminie.
        </p>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
<div class="card card-wrapper second-card-wrapper grid mt-4">
  <div class="col card-wrapper__element">
    <p-accordion [activeIndex]="[0]">
      <p-accordionTab header="Jakość">
        <p>
          Wysokiej jakości dach to nie tylko ochrona domu, ale również podstawa
          komfortu i bezpieczeństwa Twojej rodziny. Do jego budowy potrzebujesz
          fachowego zespołu oraz najwyższej jakości materiałów. Gwarancją
          zadowolenia naszych klientów jest nie tylko jakość naszych usług, ale
          także wybór idealnego wykończenia dachu. Zanim przystąpimy do
          realizacji projektu chętnie wyjaśniamy różnice pomiędzy wieloma
          wariantami jakie istnieją na rynku.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Czym jest więźba dachowa?">
        <p>
          Więźba dachowa to inaczej szkielet dachu, który podtrzymuje całą
          konstrukcję. Do jej produkcji wykorzystuje się starannie dobrane
          drewno, głównie sosnowe lub świerkowe. Składa się z takich elementów
          jak bale, belki, krawędziaki, łaty i deski. Drewno budowlane na więźbę
          dachową musi być magazynowane przez przynajmniej rok czasu, a jego
          wilgotność zredukowana do poziomu ok. 15-20%. Zbyt wilgotne drewno
          obniża trwałość tego materiału.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Impregnacja drewna">
        <p>
          Impregnacja drewna konstrukcyjnego to proces, od którego w dużym
          stopniu zależy poziom ochrony tego materiału przed niszczeniem.
          Stosowanie odpowiednich metod pozwala na jego bardzo dobre
          zabezpieczenie. Drewnu szkodzą różne czynniki zewnętrzne, a niektóre
          gatunki są na nie szczególnie narażone. Istnieją na szczęście różne
          typy impregnatów, które skutecznie zwiększają trwałość konstrukcji
          drewnianych oraz przedłużają ich żywotność.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="col card-wrapper__element">
    <p-fieldset legend="Pokrycia dachowe" [toggleable]="true">
      <p>
        Dobrze wybrane i zainstalowane pokrycie dachu zapewnia ochronę zarówno
        dla mieszkańców, jak i wnętrza obiektu przed niekorzystnymi warunkami
        pogodowymi. Stanowi też istotny element estetyczny, który może sprawić,
        że dom czy inna konstrukcja będzie się wyróżniać na tle otoczenia.
        Decyzja o wyborze odpowiedniego materiału nie jest prosta, biorąc pod
        uwagę bogatą ofertę rynkową producentów i różnorodność dostępnych
        materiałów. Dlatego podczas wyboru pokrycia dachowego warto zastanowić
        się nad kilkoma kluczowymi kwestiami.
      </p>
      <p><span>Rodzaje poktyć dachowych:</span></p>
      <ul>
        <li>Blacha płaska na rąbek</li>
        <li>Blachodachówka</li>
        <li>Dachówka ceramiczna</li>
        <li>Dachówka betonowa</li>
        <li>Gont bitumiczny</li>
        <li>Łupek</li>
        <li>Gont drewniany</li>
        <li>Trzcina</li>
      </ul>
    </p-fieldset>
  </div>
</div>
